@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');
body {
  margin: 0;
  font-family: 'Manrope';
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #b2ebf2;
}

.container {
  display: flex;
  flex-direction: column;
  border: 4px solid #006064;
  background: #006064;
  border-radius: 8px;
  min-height: 30vh;
  padding: 12px;
}
.case {
  display: flex;
}
.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #4fb3bf;
  background: #4fb3bf;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 12px;
}

.display h3 {
  text-align: right;
  margin-right: 12px;
}

.numpads-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #428e92;
  background: #428e92;
  border-radius: 12px;
}
.numpads-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.numpads-row button {
  flex-wrap: wrap;
  padding: 24px;
  background: #428e92;
  border: none;
  color: white;
  border-radius: 50px;
}

.numpads-row button:hover {
  cursor: pointer;
  background-color: #8bf6ff;
  border-radius: 50px;
}

#equals {
  width: 78%;
}
